@layer default-layer, reorganize-layer,  deleted-layer;

@layer default-layer{
    #panelCandidateContainer .hide-element{
        display: none;
    }
}

@layer reorganize-layer{
    #panelCandidateContainer .reorder .split-size .splitBtn{
        display: none;
    }
    
    #panelCandidateContainer .reorder .full-size .splitBtn{
        display: inline-block;
    }
    
    #panelCandidateContainer .reorder .split-size .combineBtn{
        display: inline-block;
    }
    
    #panelCandidateContainer .reorder .full-size .combineBtn{
        display: none;
    }


    #panelCandidateContainer .reorder .deleted .deleteBtn{
        display: none;
    }
    
    #panelCandidateContainer .reorder .active .deleteBtn{
        display: inline-block;
    }
    
    #panelCandidateContainer .reorder .deleted .restoreBtn{
        display: inline-block;
    }
    
    #panelCandidateContainer .reorder .active .restoreBtn{
        display: none;
    }
}

@layer deleted-layer{
    #panelCandidateContainer .deleted .splitBtn, #panelCandidateContainer .deleted .combineBtn,  #panelCandidateContainer  .deleted .deleteBtn{
        display: none;
    }
}


#deletedList{
    display: flex;
    background-color: grey;
    margin-top: 40px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#deletedList div.drag-item{
    color: 000;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
    background-color: aqua;
    flex-basis: 100%;
}

#deletedList div.drag-item.split-size{
    flex-basis: calc(50% - 20px);
}

#deletedList  div.header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
}

#deletedList div.body{
    width: 100%;
    border: 1px solid black;
}

#dragList{
    display: flex;
    background-color: darkgray;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#dragList div.drag-item{
    color: 000;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
    border: 2px solid black;
    background-color: aqua;
    flex-basis: 100%;
}

#dragList div.drag-item.split-size{
    flex-basis: calc(50% - 20px);
}

#dragList  div.header{

    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
}

#dragList div.body{
    width: 100%;
    border: 1px solid black;
}

#dragList.reorder div.drag-item{
    cursor: move;
}

#dragList.reorder div.drag-item:hover{
    opacity: 0.5;
}

#dragList .deleted{
   opacity: 0.5;
}